[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/json.lua"]
	path = awesome/json.lua
	url = https://github.com/rxi/json.lua.git
[submodule "bash/complete-alias"]
	path = bash/complete-alias
	url = https://github.com/cykerway/complete-alias.git
[submodule "fish/bass"]
	path = fish/bass
	url = https://github.com/edc/bass.git
[submodule "gdb/eigengdb"]
	path = gdb/eigengdb
	url = https://github.com/dmillard/eigengdb.git
[submodule "gdb/pahole"]
	path = gdb/pahole
	url = https://github.com/PhilArmstrong/pahole-gdb.git
[submodule "gdb/source-highlight"]
	path = gdb/source-highlight
	url = https://git.savannah.gnu.org/git/src-highlite.git
[submodule "nvim/pack/extend/opt/mason-lspconfig"]
	path = nvim/pack/extend/opt/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "nvim/pack/extend/opt/mason"]
	path = nvim/pack/extend/opt/mason
	url = https://github.com/williamboman/mason.nvim.git
[submodule "nvim/pack/extend/opt/nvim-dap"]
	path = nvim/pack/extend/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "nvim/pack/extend/opt/nvim-dap-ui"]
	path = nvim/pack/extend/opt/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "nvim/pack/extend/opt/syntastic"]
	path = nvim/pack/extend/opt/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "nvim/pack/extend/opt/vimwiki"]
	path = nvim/pack/extend/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "nvim/pack/extend/start/async"]
	path = nvim/pack/extend/start/async
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "nvim/pack/extend/start/nvim-ocs52"]
	path = nvim/pack/extend/start/nvim-ocs52
	url = https://github.com/ojroques/nvim-osc52.git
[submodule "nvim/pack/extend/start/tabular"]
	path = nvim/pack/extend/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "nvim/pack/extend/start/tcomment-vim"]
	path = nvim/pack/extend/start/tcomment-vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "nvim/pack/extend/start/vim-commentary"]
	path = nvim/pack/extend/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/pack/extend/start/vim-grep-operator"]
	path = nvim/pack/extend/start/vim-grep-operator
	url = https://github.com/inside/vim-grep-operator.git
[submodule "nvim/pack/extend/start/vim-obsession"]
	path = nvim/pack/extend/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "nvim/pack/extend/start/vim-rooter"]
	path = nvim/pack/extend/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "nvim/pack/extend/start/vim-slime"]
	path = nvim/pack/extend/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "nvim/pack/extend/start/vim-surround"]
	path = nvim/pack/extend/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/pack/extend/start/vim-unimpaired"]
	path = nvim/pack/extend/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "nvim/pack/extend/start/vim-visual-star-search"]
	path = nvim/pack/extend/start/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "nvim/pack/git/start/fugitive"]
	path = nvim/pack/git/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/pack/git/start/gitsigns"]
	path = nvim/pack/git/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/pack/lang/opt/xit"]
	path = nvim/pack/lang/opt/xit
	url = https://github.com/synaptiko/xit.nvim
[submodule "nvim/pack/lang/start/ron"]
	path = nvim/pack/lang/start/ron
	url = https://github.com/ron-rs/ron.vim.git
[submodule "nvim/pack/lang/opt/rust"]
	path = nvim/pack/lang/opt/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "nvim/pack/lang/opt/rust-tools"]
	path = nvim/pack/lang/opt/rust-tools
	url = https://github.com/simrat39/rust-tools.nvim.git
[submodule "nvim/pack/lang/start/vim-fish-syntax"]
	path = nvim/pack/lang/start/vim-fish-syntax
	url = https://github.com/khaveesh/vim-fish-syntax.git
[submodule "nvim/pack/lsp/opt/nvim-lspconfig"]
	path = nvim/pack/lsp/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lsp.git
[submodule "nvim/pack/parser/opt/nvim-treesitter"]
	path = nvim/pack/parser/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/parser/opt/tree-sitter-xit"]
	path = nvim/pack/parser/opt/tree-sitter-xit
	url = https://github.com/synaptiko/tree-sitter-xit.git
[submodule "nvim/pack/theme/opt/kanagawa"]
	path = nvim/pack/theme/opt/kanagawa
	url = https://github.com/rebelot/kanagawa.nvim.git
[submodule "nvim/pack/theme/opt/airline"]
	path = nvim/pack/theme/opt/airline
	url = https://github.com/bling/vim-airline.git
[submodule "nvim/pack/theme/opt/airline-themes"]
	path = nvim/pack/theme/opt/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "nvim/pack/theme/opt/tmuxline"]
	path = nvim/pack/theme/opt/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "nvim/pack/theme/start/vim-colors-solarized"]
	path = nvim/pack/theme/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "nvim/pack/undo/opt/gundo"]
	path = nvim/pack/undo/opt/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "nvim/pack/undo/opt/undotree"]
	path = nvim/pack/undo/opt/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "nvim/pack/lang/opt/rustaceanvim"]
	path = nvim/pack/lang/opt/rustaceanvim
	url = https://github.com/mrcjkb/rustaceanvim.git
[submodule "nvim/pack/misc/start/plenary"]
	path = nvim/pack/misc/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/misc/start/nui"]
	path = nvim/pack/misc/start/nui
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "nvim/pack/misc/start/nvim-web-devicons"]
	path = nvim/pack/misc/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "nvim/pack/misc/start/neo-tree"]
	path = nvim/pack/misc/start/neo-tree
	url = https://github.com/nvim-neo-tree/neo-tree.nvim.git
[submodule "nvim/pack/theme/opt/lualine"]
	path = nvim/pack/theme/opt/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "nvim/pack/extend/opt/tmux"]
	path = nvim/pack/extend/opt/tmux
	url = https://github.com/nathom/tmux.nvim.git
[submodule "nvim/pack/parser/opt/rainbow-delimiters"]
	path = nvim/pack/parser/opt/rainbow-delimiters
	url = https://github.com/HiPhish/rainbow-delimiters.nvim.git
[submodule "nvim/pack/extend/start/leap"]
	path = nvim/pack/extend/start/leap
	url = https://github.com/ggandor/leap.nvim.git
[submodule "nvim/pack/cmp/opt/cmp-nvim-lsp"]
	path = nvim/pack/cmp/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "nvim/pack/cmp/opt/cmp-buffer"]
	path = nvim/pack/cmp/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "nvim/pack/cmp/opt/cmp-path"]
	path = nvim/pack/cmp/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "nvim/pack/cmp/opt/cmp-cmdline"]
	path = nvim/pack/cmp/opt/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
[submodule "nvim/pack/cmp/opt/nvim-cmp"]
	path = nvim/pack/cmp/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
