[submodule "awesome/data/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "gdb/eigengdb"]
	path = gdb/eigengdb
	url = https://github.com/dmillard/eigengdb.git
[submodule "gdb/pahole"]
	path = gdb/pahole
	url = https://github.com/PhilArmstrong/pahole-gdb.git
[submodule "awesome/json.lua"]
	path = awesome/json.lua
	url = https://github.com/rxi/json.lua.git
