/* requires that you set
 * toolkit.legacyUserProfileCustomizations.stylesheets = true
 * in about:config

/* from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/toolbars_below_content.css */
/* @import url(include/toolbars_below_content.css); */
@import url(include/toolbars_below_content_v2.css);

/* ISSUE 553, search icon: set browser.urlbar.scotchBonnet.enableOverride to false */

/* RB: wide 'chose bookmark folder' list (why they keep this crappy setting ???) */
#editBMPanel_folderTree { min-height: 200em !important; }
